<html>
<head>
<style>
	table, th, td{
		border: 1px solid black;
	}
</style>
</head>
<body>
<%- include('nav'); %>
<table style="width:100%">
<tr>
	<th>Name</th>
	<th>Amount</th>
	<th>Date</th>
	<th>Category</th>
</tr>
<% expenses.forEach(function(expense){ %>
	<tr><td><a href="/cancel-expense/<%= expense._id %>"><%= expense.name %></a></td><td>$<%= expense.amount.toFixed(2) %></td><td><%= expense.date.toDateString() %></td><td><%= expense.category.charAt(0).toUpperCase() + expense.category.slice(1) %></td></tr>
<% }); %>
</table>
</body>
</html>
