<html>
<head>
<style>
	table, th, td{
		border: 1px solid black;
	}
</style>
<%- include('head') %>
</head>
<body>
<%- include('nav'); %>
<h4>Category</h4>
<ul>
<li><a href="/list-expenses">All</a></li>
<li><a href="/list-expenses/food">Food</a></li>
<li><a href="/list-expenses/gas">Gas</a></li>
<li><a href="/list-expenses/bill">Bill</a></li>
<li><a href="/list-expenses/fun">Fun</a></li>
</ul>
<h4>Total: $<%= total.toFixed(2) %></h4>
<table style="width:100%">
<tr>
	<th>Name</th>
	<th>Amount</th>
	<th>Date</th>
	<th>Category</th>
</tr>
<% expenses.forEach(function(expense){ %>
	<tr><td><a href="/cancel-expense/<%= expense._id %>"><%= expense.name %></a></td><td>$<%= expense.amount.toFixed(2) %></td><td><%= expense.date.toDateString() %></td><td><a href="/list-expenses/<%= expense.category %>"><%= expense.category.charAt(0).toUpperCase() + expense.category.slice(1) %></a></td></tr>
<% }); %>
</table>
<canvas id="myChart"></canvas>
<script>
	let myChart = document.getElementById('myChart').getContext('2d');

	let expenseChart = new Chart(myChart, {
		type: 'doughnut',
		data: {
			labels: ['Food', 'Gas', 'Bill', 'Fun', 'Balance'],
			datasets: [{
				label: 'Categories',
				data: [<%= foodSum %>, <%= gasSum %>, <%= billSum %>, <%= funSum %>, <%= balance[0].total %>],
				backgroundColor: ['#fc7474', '#7cbbf9', '#59876a', '#efaf5b', '#b5b5b5']
			}]
		},
		options: {}
	});
</script>
</body>
</html>
